.box {
    margin: 5px;
    height: 100%;
    width: 94%;
    border: 1px solid lightblue;
    box-shadow: 3px 3px 2px darkgreen;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 5px;
}